#mainContainer{
  height: 330vh;
  width: 100%;
}
#line{
  position: absolute;
  top: 550px;
  left: 150px;
}
@media (max-width: 1370px) {
  #line{
    position: absolute;
    top: 13.7rem;
    left: 3rem;
    height: 1220px;
  }
}